*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{
    width: 100%;
    height: 8.5vh;
    background-color: transparent;
    z-index: 2;
    position:fixed;
    transition: 0.75s;
    display: flex;
    align-items: center;
    color: white;
}

header div:nth-child(1){
    display: inline;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.745s;

}

header div:nth-child(2){
    width: 10%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

header div:nth-child(3){
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: end;
    justify-content: end;
    z-index: 3;
}

header div:nth-child(3) ul{
    display: flex;
    height: 100%;
    width: 60%;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    z-index: 3;
}

section.banner{
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-div{
    background-image: url("./bus.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: blur(1px) brightness(0.45);
}

section.banner p {
    font-size: 2.5rem;
    color: white;
    position: absolute;
    text-align: center;
   

}

section.problem{
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 0%, #f3f3f3 25%, #f0e9f1 100%);
    width: 100%;
    height: 100vh;
}

section.soluction{
    background-color: #3a0a61;
    background-image: linear-gradient(43deg, #3a0a61 0%, #57036d 46%, #63027c 100%);
    width: 100%;
    height: 100vh;
}