:root{
    --primart-color:#6400B2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb{
    background-color:var(--primart-color);
    border: 1px solid rgba(0, 0, 0, 0.585);
    border-radius: 5px;
}

::-webkit-scrollbar{
    background-color: #FFFFFF;
    width: 10px;
}

header{
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: var(--primart-color);
}

ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style:none ;
}

main{
    width: 100%;
    height: auto;
}

.presentation{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;
}

.mobile-screen{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-screen img{
    width: 70%;
}

.download-app{
    display: flex;
    margin-top: -5%;
    justify-content: center;
    gap: 1px;
    flex-direction: column;
    width: 40%;
}

#busion{
    text-align: center;
    font-size: 3.5rem;
    color: var(--primart-color);
}

#busion-text{
    font-size: 1rem;
    word-spacing: 5px;
    letter-spacing: 0.1px;
    color: var(--primart-color);
    margin-bottom: 2%;
    text-align: center;
}

.stores{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.apple-store{
    width: 36.5%;
    height: 80%;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
}

.play-store{
    width: 38%;
    height: 80%;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
}

.apple-store-icon{
    width: 35px;
    height: 35px;
    background-color: lightblue;
}

.apple-store{
    display: flex;
    justify-content: space-around;
}

.download-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.download-text p{
    margin-bottom: -10px;
    font-size: 0.75rem;
}

.play-store{
    display: flex;
    justify-content: space-around;
}

#google{
    font-size: 1.25rem;
}

.faq{
    width: 100%;
    height: 100vh;
    display: flex;
    color: var(--primart-color);
}

.questions{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions-div{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: start;
    flex-direction: column;
}

.questions-div h1{
    text-align: start;
}

.question{
    width: 100%;
    height: 11.25%;
    border: 1px solid rgba(10,10,10,.01);
    border-radius: 5px;
    background-color: #F1E9F8;
    display: flex;
    align-items: center;
    text-indent: 10px;
}

.mobile-screen-two{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-screen-two img{
    width: 70%;
    height: auto;
}

.points-of-project{
    width: 100%;
    height: 80vh;
    background-color: purple;
}

.our-project{
    width: 100%;
    height: 100vh;
}

.team{
    width: 100%;
    height: 95vh;
    background-color: #33004A;
}
.team-div{
    width: 80%;
    height: 40vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 95.5vh;
    background-color: #000000;
}